.lunch-item {
  display: flex;
  align-items: center;
  gap: .625rem;
  list-style: none;
  padding: .5rem 0;
  position: relative;
  font-weight: 500;
  margin-left: .4rem;

  &:first-child::before{
    left: -0.375rem;
  }

  &:last-child {
    &::before{
      left: -0.25rem;
    }

    .lunch-item__icon {
      width: 1.125rem;
      left: 2px;
      height: 100%;
      margin-right: 0.625rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: $yellow;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    position: relative;
    margin-right: .4rem;
    z-index: 2;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    color: $black !important;
  }
}






