$yellow: #FFDD2D;
$black: #000;
$grey: #001024;
$blue: #126DF7;
$button-text-grey: #333333;
$background-grey: rgba(36, 74, 127, 6);
$placeholder-grey: rgba(0, 0, 0, 0.48);

/* variables.scss */
$bg-color: #F2F2F2;            // фон (background)
$border-radius: 8px;           // скругление углов (border-radius)
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  // тень (shadow)
$font-stack: 'Roboto', sans-serif;
$spacing-small: 0.5rem;        // маленький отступ
$spacing-medium: 1rem;         // средний отступ
$spacing-large: 2rem;          // большой отступ
