$yellow: #FFDD2D;
$black: #000;
$white: #fff;
$grey: #001024;
$blue: #126DF7;
$red: red;
$button-text-grey: #333333;
$input-background-grey: rgb(36,74,127, .06);
$background-grey: rgba(36, 74, 127, 6);

$placeholder-grey: rgba(0, 0, 0, 0.48);
$background-page: #F6F7F8;
$opacity-black: rgba(0, 0, 0, 0.7);

/* variables.scss */
$bg-color: #F2F2F2;            
$border-radius: .5rem;           
$modal-radius: 1rem;
$shadow: 0 6px 34px rgba(0, 0, 0, 0.12);  
$font-stack: 'Roboto', sans-serif;
$spacing-small: 0.5rem;        
$spacing-medium: 1rem;         
$spacing-large: 2rem;          
